*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

ul,li{
	list-style: none;
}

.clearfix::after{
	content:'';
	clear: both;
	display: block;
}


.carousel{
	text-align: center;
	margin: 300px auto;
	height:200px;
	position:relative;
	width:320px;
	overflow: hidden; 
}

.img-ct li{
	display:inline-block;
	float: left;
}

.img-ct {
	left:-320px;
	position: absolute;
	width:1920px;
}

.carousel p{
	display: inline-block;
	position: absolute;
	z-index: 999;
	background: blue;
	opacity:0.8;
}

.back{
	left:0;
}

.next{
	right: 0;
}

.selectors {
	display: inline-block;
	bottom:10px;
    transform: translateX(-50%);
	text-align: center;
	z-index: 9999;
	position: absolute;
}

.selectors li{
	
	height: 10px;
	border-radius:50%; 
	float: left;
	display: inline-block;
	width: 10px;
	border: 1px solid;
	margin: 0px 5px;
	float: left;
}

.active{
	background: black;
	opacity: 0.8;
}










